a {
  text-align: center;
  margin: 10px;
  padding: 8px;
  width: 100px;
  text-decoration: none;
  background-color: aqua;
  color: black;
  border-radius: 999px;
  display: inline-block;
}
a:hover {
  background: white;
}
